body
    overflow: hidden

    &.show-about

        .app-container

            transform: translateX(100%)

        .about

            transform: translateX(0)

        .toggle-about svg path
            fill: $leaves

.app-container
    overflow: hidden
    background-color: $background
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    transition: all .23s ease


main.app
    overflow: hidden
    width: 60em
    height: 35em
    display: flex
    flex-direction: column
    box-shadow: 1px 1px 5px darken($background, 70%)

// top section

.app__player

    flex-grow: 1
    background-color: $rain
    display: flex

    > div[class^="player__"]
        width: 50%

.player__cover

    background-color: darken($leaves, 3%)
    display: flex
    align-items: center
    justify-content: center

    img
        +size(190px)

.player__tracks
    display: flex
    flex-direction: column

    > div
        flex: 1

.track

    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 10em
    cursor: pointer

    &:hover button

        animation: pulseScale 1s ease-out both infinite

    span
        font-size: 1.4em
        font-weight: 600

    button

        img
            +size(40px)
            margin-top: 10px

// bottom section

.app__controls

    background-color: darken($background, 6%)
    display: flex
    height: 15%

    > div
        width: 50%

.controls__other

    display: flex
    align-items: center
    justify-content: center

    button

        margin-right: 1em
        transition: all .23s ease

        img
            +size(40px)


        &:hover
            transform: scale(1.34)

            &.prev
                transform: scale(1.34) rotate(180deg)


        &.prev

            transform: rotate(180deg)

        &:last-child
            margin-right: 0

.controls__volume

    display: flex
    align-items: center
    justify-content: center

    .volume-slider
        width: 70%
        appearance: none
        background: $rain
        border-radius: 9px
        height: 10px

        &::-webkit-slider-thumb
            appearance: none
            +size(20px)
            border-radius: 50%
            background: darken($background, 6%)
            border: 1px solid $rain
            cursor: pointer
            position: relative
            z-index: 2
