section.about

    article.about__content

        p Campfire Icon by Oliviu Stoian
        p Liquid Icon by Korawan.M
        p Rain cloud Icon by Dilon Choudhury
        p Moon Icon by Lucid Formation
        p Leaf Icon by Robert Bjurshagen
        p Coffee cup Icon by Oliviu Stoian
        p Kayak Icon by Norbert Kucsera
        p Menu Icon by Alice Mortaro
        p Fast forward Icon by Napoleon
        p Sound off Icon by Quan Do
        p Stop Icon by Mateo Zlatar
        
        
        p All Icons are from the noun project 
        
        
        a(href="https://github.com/CerealCoder/focus")
            include ../svg/github.svg
        
