section.about

    article.about__content

        p Campfire Icon by Oliviu Stoian from the Noun Project
        p Liquid Icon by Korawan.M from the Noun Project
        p Rain cloud Icon by Dilon Choudhury from the Noun Project
        p Moon Icon by Lucid Formation from the Noun Project
        p Leaf Icon by Robert Bjurshagen from the Noun Project
        p Coffee cup Icon by Oliviu Stoian from the Noun Project
        p Kayak Icon by Norbert Kucsera from the Noun Project
        p Menu Icon by Alice Mortaro from the Noun Project
        p Fast forward Icon by Napoleon from the Noun Project
        p Sound off Icon by Quan Do from the Noun Project
