head

   title Focus - Concentrate on the task at hand
   meta(charset='utf-8')
   meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='description', content='This is a web application designed to help you focus on your tasks.')
   meta(name="viewport", content="width=device-width, initial-scale=1")
   link(rel='stylesheet', href='/assets/css/main.css')
