main.app

    section.app__player

        div.player__cover 

        div.player__tracks
        
        
            div(data-value="rain").track.track-rain 
                span(data-color="leaves") Rain
                button(type="button")
                    img(src="/assets/img/rain.svg", alt="rain icon")
            
            div(data-value="night").track.track-night 
                span(data-color="coffee") Night 
                button(type="button")
                    img(src="/assets/img/moon.svg", alt="moon icon")
            
            div(data-value="creek").track.track-creek 
                span(data-color="fire") Creek
                button(type="button")
                    img(src="/assets/img/creek.svg", alt="creek icon")
                    
            div(data-value="fire").track.track-fire 
                span(data-color="creek") Fire
                button(type="button")
                    img(src="/assets/img/campfire.svg", alt="campfire icon")
                
            div(data-value="coffee").track.track-coffee 
                span(data-color="night") Coffee
                button(type="button")
                    img(src="/assets/img/coffee.svg", alt="coffee icon")
            
            div(data-value="leaves").track.track-leaves
                span(data-color="rain") Leaves
                button(type="button")
                    img(src="/assets/img/leaves.svg", alt="leaves icon")

    section.app__controls

        div.controls__other
            
            button(type="button").prev
                include ../svg/next.svg
            
            button(type="button").mute
                include ../svg/muted.svg
            
            button(type="button").next
                include ../svg/next.svg
                
                
        div.controls__volume
            
            input(type="range", name="volume-slider", min="0", max="100", value="50").volume-slider
